$font-path: '../fonts/BYekan';
@font-face {
    font-family: 'Byekan';
    src: url('#{$font-path}.woff2') format('woff2'),
         url('#{$font_path}.woff') format('woff'),
         url('#{$font_path}.ttf') format('truetype');
    
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid black;
    // border-left: 1px solid black;
    // border-right: 1px solid black;
}
.table th,
.table td {

    border-top: 1px solid black;
    // border-left: 1px solid black;
    // border-right: 1px solid black;

}
// .sale_tbody{
    
//     border-bottom: 1px solid black;
//     border-left: 1px solid black;
//     border-right: 1px solid black;
// }
// .sale_tbody td{
    
//     border-bottom: 1px solid black;
//     border-left: 1px solid black;
//     border-right: 1px solid black;
// }
// .clearfix td{
//     border-bottom: 1px solid black;
// }